@page
@model SourceStack.Pages.Article.IndexModel
@{
    ViewData["Title"] = "文章列表";
    Layout = "Layout/_Articlelist";
}
@foreach (var item in Model.Article)
{
    <div>
        <h4><a href="/Article/Single?id=@item.Id">@item.Title</a></h4>
        <div>
            <small>@item.PublishTime.ToString("yyyy年MM月 dd日hh点mm分")</small>
            <p style="float:right">作者：<a href="#">@item.Author.Name</a></p>
        </div>
        <p>@item.Body<a href="#">...</a></p>
        <div>
            <strong>关键字：</strong>
            @for (int i = 0; i < item.KeyWords.Count; i++)
            {
                <span class="badge badge-pill badge-dark">@item.KeyWords[i].Name</span>
            }
        </div>
        <hr />
    </div>
}
@section list
{

}
@{
    string ApI = "Index?pageIndex";
    int MPI = Model.PageIndex;
    int MPC = Model.PagesCount;
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (MPI != 1)
        {
            <li class="page-item">
                <a class="page-link" href="@ApI=@(MPI-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 0; i <= MPC; i++)
        {
            string active = MPI == (i + 1) ? "active" : null;
            <li class="page-item @active">
                <a class="page-link" href="@ApI=@(i + 1)">@(i + 1)</a>
            </li>
        }
        @if (MPI != MPC + 1)
        {
            <li class="page-item">
                <a class="page-link" href="@ApI=@(MPI+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>

